.comment-list {

	.comment {

		> article {
		}
	}

	.children {
	}
}

.comment-header {
  @extend %clearfix; // includes clear:both

	.comment-author {
	}

	img {
	}
}

.comment-content {
	@extend .entry-content;
}

.comment-respond {
  background-color: $white; // #fff;
  margin-bottom: $padding-large-vertical; //40px;

	.form-submit {
      @extend %clearfix; // includes clear:both
	}
}
.comment-respond,
.entry-pings {
  padding: $padding-large-vertical $padding-large-horizontal $padding-small-vertical; //40px 40px 16px;
}

.entry-comments {
  padding: $padding-large-vertical; //40px;
}

.comment-header {
  font-size: $font-size-base; // 16px;
}
.comment-notes,
.logged-in-as,
.form-allowed-tags {
	@extend %type;
}

.comment-notes,
.logged-in-as,
.form-allowed-tags,
.comment-form-author,
.comment-form-email,
.comment-form-url {
}

.comment-form-comment {
}

// Markup quite different; pasted straight from Genesis sample; haven't finished adding variables
.comment-respond,
.entry-comments,
.entry-pings {
  background-color: $white; // #fff;
  margin-bottom: $padding-large-vertical; //40px;
}
li.comment {
  background-color: #f5f5f5;
  border: 2px solid $white; // #fff;
  border-right: none;
}

.comment-content {
  clear: both;
}

.comment-list li {
  margin-top: 24px;
  padding: 32px;
}

.comment-list li li {
  margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
  width: 50%;
}

.comment-respond label {
  display: block;
  margin-right: 12px;
}

.entry-comments .comment-author {
  margin-bottom: 0;
}

.entry-pings .reply {
  display: none;
}

.bypostauthor {
}

.form-allowed-tags {
  background-color: #f5f5f5;
  font-size: $font-size-base; //16px;
  padding: $line-height-base; // 24px;
}