/// includes:
// breadcrumbs
// titles (content, archives)
// entry-content
// entry pagination
// entry-meta
// archive-pagination
// tables



.breadcrumbs {
}

// see also _headings for site title
.entry-title {
    font-size: $font-size-h1; // 36px;
    color: $headings-color;
	overflow: hidden;
	word-break: break-word;
	a {
      //color: $gray-dark; // #333;
      color: inherit;
		&:hover,
		&:focus,
		&:active {
          color: $headings-hover-color; // #e5554e;
		}
	}
}

.archive-title {
  font-size: $font-size-h4; //20px;
}
.entry {
  margin-bottom: $padding-large-vertical; // 40px;
  padding: $padding-large-vertical $padding-large-horizontal; // 50px 60px;
}

.content .entry {
  background-color: $white //#fff
}

.entry-content {
	p {
		@extend %type;
	}

	ol,
	ul {
		@extend %type;
		padding-left: $padding-large-horizontal; // 2.5em;
        margin-bottom: $padding-base-vertical; // 28px;
        //margin-left: 40px;

		ol,
		ul {
			//margin-bottom: $padding-small-vertical; //.5em;
          margin-bottom:0;
			padding-left: $padding-base-horizontal; // 1.5em;
		}
	}

	ol {

		li {
			list-style-type: decimal;
		}
	}

	ul {

		li {
			list-style-type: disc;
		}
	}

	blockquote {
        font-style: $blockquote-style;
        margin: $blockquote-margin;
		p {
		}
        &:before {
        content: "\201C";
        display: block;
        font-size: 30px;
        height: 0;
        left: -20px;
        position: relative;
        top: -10px;
      }
	}
  code {
    background-color: $gray-dark; // #333;
    color: $gray-lightest1; // #ddd;
  }
}

//see archive-pagination below in addition to content, here
.pagination {
  clear: both;
  margin: $padding-large-vertical 0;
}
.adjacent-entry-pagination {
  margin-bottom: 0;
}
.entry-pagination {
}

p.entry-meta {
  font-size: $font-size-base;
  margin-bottom:0;
}
.entry-header .entry-meta {
  margin-bottom: $padding-base-vertical; // 24px;
}

.entry-footer .entry-meta {
  border-top: 2px solid $gray-lightest; // #f5f5f5;
  padding-top: $padding-base-vertical; // 24px;
}
.entry-meta {
	clear: both;

// don't think this is written right - the .entry-meta appears inside the .entry-header or .entry-footer
//	.entry-header & {
//	}
//
//	.entry-footer & {
//	}

	.entry-categories,
	.entry-tags {
      display:block;
	}
  .entry-comments-link::before {
    content: "\2014";
    margin: 0 6px 0 2px;
  }
}

.archive-pagination {
	clear: both;
	a {
	}
	li {
		display: inline;
		a {
          background-color: $gray-dark; // #333;
          color: $white; // #fff;
          cursor: pointer;
          display: inline-block;
          font-size: $font-size-base; //16px;
          padding: $padding-base-vertical $padding-base-horizontal; //8px 12px;
          margin-bottom: $padding-small-vertical;
			&:hover,
			&:focus,
			&:active {
              background-color: $link-hover-color; // #e5554e;
			}
		}
		&.active {
			a {
              background-color: $link-hover-color;
			}
		}
	}
}

// TT added straight from genesis child theme - couldn't find table styling anywhere in BFG master
/* ## Tables
--------------------------------------------- */

table {
  border-collapse: collapse;
  border-spacing: 0;
  line-height: 2;
  margin-bottom: $padding-large-vertical; // 40px;
  width: 100%;
}

tbody {
  border-bottom: 1px solid $border-color-light; // #ddd;
}

td,
th {
  text-align: left;
}

td {
  border-top: 1px solid $border-color-light; // #ddd;
  padding: 6px 0;
}

th {
  font-weight: $font-weight-base; // 400;
}
