
.site-footer {
  background-color:$white; // #fff;
  font-size: $font-size-base; //16px;
  line-height: $line-height-base; //1;
  padding: $padding-large-vertical 0; //40px 0;
  text-align: center;
  p {
    margin-bottom: 0;
  }
  > .wrap {
  }
}

.footer-widgets {
  @extend %clearfix; // includes clear:both
  background-color: $gray-dark; // #333;
  color: $gray-lighter; // #999;
  padding-top: $padding-large-vertical; // 40px;
  a {
    color: inherit;
  }
  > .wrap {
  }
  input {
    border: 1px solid $border-color-dark; // #333;
  }
  li {
    border-bottom: 1px dotted $border-color-medium; // #666;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
  .widget {
    margin-bottom: $padding-large-vertical; // 40px;
  }

  .widget-title,
  .widgettitle {
    color: $white; // #fff;
  }
}

.footer-widgets a.button,
.footer-widgets a:hover {
  color: #fff;
}

.footer-widgets p:last-child {
  margin-bottom: 0;
}

.footer-widgets-1,
.footer-widgets-2,
.footer-widgets-3 {
  width: 33.333333333%; // 340px;
}

.footer-widgets-1 {
  //margin-right: 60px;
}

.footer-widgets-1,
.footer-widgets-2 {
  float: left;
}

.footer-widgets-3 {
  float: right;
}