input:focus,
textarea:focus {
  outline: none;  // bfg comments this out
  border: 1px solid $gray-lighter; // #999;
}

input[type='text'],
input[type='password'],
input[type='search'],
input[type='email'],
input[type='url'],
input[type='tel'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='time'],
textarea {
	max-width: 100%;
	width: 100%;
	border-radius: 0;		  // Removes the border radius on iOS
	-webkit-appearance: none; // Removes the shadow on iOS
	-moz-appearance: none;
}

// Hide the spinner on input[type="number"] in Firefox
input[type='number'] {
	// -moz-appearance:textfield;
}

// Hide the spinner on input[type="number"] in Chrome/Safari
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	// -webkit-appearance: none;
}

textarea {
	resize: vertical; // Allow only vertical resizing of textareas.
}

select {
	width: 100%;
}

.placeholder {
	text-overflow: ellipsis;
}

::placeholder {
	text-overflow: ellipsis;
    color: $text-color; // #333;
    font-weight: $font-weight-base;
    opacity: 1; // from gen sample child - ??
}

button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	@extend .btn;

}

// pasted directly from genesis child
/* ## Search Form
--------------------------------------------- */

.search-form {
  overflow: hidden;
}

.site-header .search-form {
  float: right;
  margin-top: 12px;
}

.entry-content .search-form,
.site-header .search-form {
  width: 50%;
}

.genesis-nav-menu .search input[type="submit"],
.widget_search input[type="submit"] {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  width: 1px;
}
// end paste from genesis child

input[type='search'] {
	box-sizing: border-box; // Overrides normalize.css
}

.search-form,
.post-password-form {
	display: flex;
	align-items: center;
	input[type='submit'] {
		margin-left: .25em;
	}
}

.search-form {
	input[type='search'] {
		flex: 1;
	}
}

.post-password-form {
	input[type='password'] {
		flex: 1;
	}
}

// Rest of file from genesis sample child theme - why not included here already?

input,
select,
textarea {
  background-color: $white; // #fff;
  border: 1px solid $border-color-light; // #ddd;
  color: $text-color; // #333;
  font-size: $font-family-base; // 18px;
  font-weight: $font-weight-base; //300;
  padding: 1em; //16px;
  width: 100%;
}

input[type="checkbox"],
input[type="image"],
input[type="radio"] {
  width: auto;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.button {
  background-color: $gray-dark; // #333;
  border: none;
  color: $white; // #fff;
  cursor: pointer;
  font-size: 1em; // 16px;
  font-weight: $font-weight-base; //300;
  padding: 1em 1.5em; // 16px 24px;
 // text-transform: uppercase;
  width: auto;
}

.footer-widgets button,
.footer-widgets input[type="button"],
.footer-widgets input[type="reset"],
.footer-widgets input[type="submit"],
.footer-widgets .button {
  background-color: $link-hover-color; // #e5554e;
  color: $white; // #fff;
}

button:hover,
input:hover[type="button"],
input:hover[type="reset"],
input:hover[type="submit"],
.button:hover {
  background-color: $link-hover-color; //#e5554e;
  color: $white; // #fff;
}

.entry-content .button:hover {
  color: $white; // #fff;
}

.footer-widgets button:hover,
.footer-widgets input:hover[type="button"],
.footer-widgets input:hover[type="reset"],
.footer-widgets input:hover[type="submit"],
.footer-widgets .button:hover {
  background-color: $white; // #fff;
  color:  $gray-dark; // #333;
}

//should this extend .btn, in _buttons.scss?
.button {
  display: inline-block;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button {
  display: none;
}