//specific TITLES live with their content, e.g. widget titles in _sidebar or _footer, archive titles in _content
// for sizing, see @link http://typecast.com/blog/a-more-modern-scale-for-web-typography

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; // 0 0 10px
	padding: 0;
    color: $headings-color; // #333;
    font-family: $headings-font-family; // Lato, sans-serif;
    font-weight: $headings-font-weight; // 400;
    line-height: $headings-line-height; //1.2;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}