
/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header {
  background-color: $white;
  //min-height: 160px;
	> .wrap {
      padding: $padding-large-vertical 0; // 40px 0;
	}
}


/* ## Title Area
--------------------------------------------- */
.title-area {
	float: left;
    padding: $padding-small-vertical 0; //10px 0;
    width:60%; //360px;
}
.header-full-width .title-area {
  width: 100%;
}

/* ## Site Title, Description
--------------------------------------------- */
.site-title,
.site-description {
	margin: 0;
	line-height: 1;

	.header-image & {
		@extend %image-replacement;
		display: block;
	}
}

.site-title {
  font-size: $font-size-h1; // 32px;
  font-weight: $font-weight-base; //400;
  line-height: $headings-line-height; // 1.2;

	a {
      color:$gray-dark;
		&:hover,
		&:focus,
		&:active {
          //why no diff on hover?
          color:$gray-darker;
		}
	}
}

.site-description {
  font-size: $font-size-h4; // 16px;
  font-weight: $font-weight-base; // 300;
  line-height: $headings-line-height; // 1.5;
}

/** ## Header Image
* Remove Genesis default styling for Logos as background images
* Replace with actual <img> drawn from theme images folder for header image
 output becomes:
 <div class="title-area"><h1><a href="home"><img src="/images/logo.gif">
* see includes/structure/header.php
--------------------------------------------- */
// Genesis Default styling
//.header-image .site-title > a {
//  background: url(images/logo.png) no-repeat left;
//  float: left;
//  min-height: 60px;
//  width: 100%;
//}

//.header-image .site-description,
//.header-image .site-title {
//  display: block;
//  text-indent: -9999px;
//}

/* ## Header Widget Area
--------------------------------------------- */
.header-widget-area {
	float: right;
    text-align:right;
	.widget {
	}
}