// Genesis layout <body> classes:
// .content-sidebar-sidebar
// .sidebar-content-sidebar
// .sidebar-sidebar-content
// .content-sidebar
// .sidebar-content
// .full-width-content

.site-container {
}

.content-sidebar-wrap {
  @extend %clearfix; // includes clear:both
}

.content {
}

//.sidebar-primary {
//}
//
//.sidebar-secondary {
//}
.content,
.sidebar-primary,
.sidebar-secondary {
  padding: $padding-base;
}
.sidebar-primary {

}

.sidebar-secondary {

}
// TT lifted from Genesis sample child
/* ## Site Containers
--------------------------------------------- */

.site-inner,
.wrap {
  margin: 0 auto;
  max-width: $siteWidth; // 1200px;
}

.site-inner {
  clear: both;
  //padding-top: $padding-large-vertical; // 40px;
}

/* ## Column Widths and Positions
--------------------------------------------- */

/* ### Wrapping div for .content and .sidebar-primary */

.content-sidebar-sidebar .content-sidebar-wrap,
.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  width: 980px;
  // this is content + 1 sidebar
  // for a 20-60-20 layout:
  width:80%;
}

.content-sidebar-sidebar .content-sidebar-wrap {
  float: left;
}

.sidebar-content-sidebar .content-sidebar-wrap,
.sidebar-sidebar-content .content-sidebar-wrap {
  float: right;
}

/* ### Content */

.content {
  float: right;
  width: 800px;
  //???? when is this width used?

}

.content-sidebar .content,
.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content {
  float: left;
}

.content-sidebar-sidebar .content,
.sidebar-content-sidebar .content,
.sidebar-sidebar-content .content {
  width: 580px;
  // of content + sidebar, how much is content?
  //of the 80% of the total width, this much is content:
  width:75%;

}

.full-width-content .content {
  width: 100%;
}

/* ### Primary Sidebar */

.sidebar-primary {
  float: right;
  width: 360px;
  // of the 80% of the full width, this much is a sidebar that is 20% of total width
  width:25%;
}

.sidebar-content .sidebar-primary,
.sidebar-sidebar-content .sidebar-primary {
  float: left;
}

/* ### Secondary Sidebar */

.sidebar-secondary {
  float: left;
  width: 180px;
  //the remaining sidebar is the remainder of the total width
  width:20%;
}

.content-sidebar-sidebar .sidebar-secondary {
  float: right;
}