//applied to a menu ul
.genesis-nav-menu {
  @extend %clearfix; // includes clear:both
  width: 100%;
  font-size: $font-size-base; // 16px;
  line-height: 1;

  // Applied to all menu <li>s
  .menu-item {
    display: inline-block;
    text-align: left;
    a {
      position: relative;
      display: block;
      color: $gray-dark; // #333;
      padding: $padding-base-vertical $padding-base-horizontal; // 30px 24px;
    }
    a:hover,
    .current-menu-item > a,
    .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
      color: $link-color; // #e5554e;
    }
  }

  // First level
  > .menu-item {
    position: relative;
    display: inline-block;
    text-align: left;

    &:hover,
    &:focus,
    &:active,
    &.sfHover {

      > .sub-menu {
        left: auto;
        opacity: 1;
      }
    }
    &.current-menu-item {

      > a {
      }
    }
    > a {
    }
  }

  // Sublevels
  .sub-menu {
    position: absolute;
    top: 100%;
    left: -9999px;
    z-index: 99;
    opacity: 0;
    transition: opacity .4s ease-in-out;
    width: 200px;

    > .menu-item {

      > a {
        position: relative;
        background-color: $white; // #fff;
        border: 1px solid $gray-lightest; // #eee;
        border-top: none;
        font-size: $font-size-small; // 14px;
        padding: $padding-large-horizontal; // 20px;
        position: relative;
        width: 200px;
      }
    }

    .sub-menu {
      margin: -55px 0 0 199px;
    }
  }
}

/* Styles if using Responsive Menu script
--------------------------------------------- */

.responsive-menu-icon {
  cursor: pointer;
  display: none;
  //  margin-bottom: -1px;
  //  text-align: center;
  position:absolute;
  top:50%;
  left:50%;
}

.responsive-menu-icon::before {
  content: "\f140";
  //  display: inline-block;
  font: normal 96px/1 'dashicons';
  margin: 0 auto;
  //  padding: 10px;
  color: $brand-primary;
}

@media only screen and (max-width: $mq-l-tab) {
  .genesis-nav-menu.responsive-menu {
    display: none;
  }
  .responsive-menu-icon {
    display: block;
  }
}

///////////////copied over from sample child theme without necessarily finishing variables...
.genesis-nav-menu .menu-item:hover {
  position: static;
}

.genesis-nav-menu .menu-item:hover > .sub-menu {
  left: auto;
  opacity: 1;
}

.genesis-nav-menu > .first > a {
  padding-left: 0;
}

.genesis-nav-menu > .last > a {
  padding-right: 0;
}

.genesis-nav-menu > .right {
//  color: $white; // #fff;
//  float: right;
//  list-style-type: none;
//  padding: 30px 0;
}

.genesis-nav-menu > .right > a {
//  display: inline;
//  padding: 0;
}

.genesis-nav-menu > .rss > a {
  margin-left: 48px;
}

.genesis-nav-menu > .search {
  padding: 10px 0 0;
}
/* ## Site Header Navigation
--------------------------------------------- */

.site-header .sub-menu {
  border-top: 1px solid $gray-lightest; // #eee;
}

.site-header .sub-menu .sub-menu {
  margin-top: -56px;
}

.site-header .genesis-nav-menu li li {
  margin-left: 0;
}

/* ## Primary Navigation
--------------------------------------------- */

.nav-primary {
  background-color:  $gray-dark; // #333;
}

.nav-primary .genesis-nav-menu a {
  color: $white; // #fff;
}

.nav-primary .genesis-nav-menu .sub-menu a {
  color: $gray-dark; // #333;
}

.nav-primary .genesis-nav-menu a:hover,
.nav-primary .genesis-nav-menu .current-menu-item > a,
.nav-primary .genesis-nav-menu .sub-menu .current-menu-item > a:hover {
  color: $link-color; // #e5554e;
}

/* ## Secondary Navigation
--------------------------------------------- */

.nav-secondary {
  background-color: $white; // #fff;
}
