embed,
iframe,
img,
object,
video,
.wp-caption {
	max-width: 100%;
}

// Remove the gap between images, videos, audio and canvas and the bottom of their containers: h5bp.com/i/440
audio,
canvas,
img,
video {
	vertical-align: middle;
}

img {
	width: auto;
	height: auto; // IE8 image height correct, so that img max-width: 100% doesn't produce disproportionate images
}
// TT added, from genesis sample child stylesheet - not sure why there; maybe to override styles that happen later elsewhere?
.featured-content img,
.gallery img {
  width: auto;
}

//////// these styles are under "WordPress" section in Genesis sample child theme (along with others, mainly on <a>, added here...)
img.centered,
img.aligncenter,
.aligncenter {
	display: block;
	margin: 0 auto $imageMargin auto;
}
a.aligncenter img {
  display: block;
  margin: 0 auto;
}

img.alignnone,
alignnone {
  margin-bottom: $padding-base-vertical;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin-right: $imageMargin;
	margin-bottom: $imageMargin;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin-bottom: $imageMargin;
	margin-left: $imageMargin;
}

.wp-caption {
	width: auto !important;
	p {
		margin-bottom: 0;
	}
}

.wp-caption-text {
	margin: 0;
	text-align: center;
    font-size: $font-size-small; // 14px;
    font-weight: $font-weight-base; // 700;
}
.entry-content p.wp-caption-text {
  margin-bottom: 0;
}

img.alignleft,
img.alignright,
img.aligncenter {
}

a.alignnone {
  display: inline-block;
}
a.alignleft,
a.alignnone,
a.alignright {
  max-width: 100%;
}
