/* **************************
 * [Site-wide] add icons following links to certain common file types
 * Better to use icon fonts if possible?
 * 
 * ENABLED by default
 * @link https://gist.github.com/lmirabile/
 * @link
 ************************* */

a[href$='.doc'], a[href$='.docx'] {
	padding: 5px 20px 5px 0;
     background: transparent url(/images/icons/icon_doc.gif) no-repeat center right;
}
a[href$='.pdf'] {
	padding: 5px 20px 5px 0;
     background: transparent url(/images/icons/icon_pdf.gif) no-repeat center right;
}
a[href$='.pps'], a[href$='.ppt'], a[href$='.pptx'] {
	padding: 5px 20px 5px 0;
     background: transparent url(/images/icons/icon_pps.gif) no-repeat center right;
}