// see also .sidebar-primary, .sidebar-secondary in _layout.scss

.sidebar {
  font-size: $font-size-base; //16px;
  li {
    border-bottom: 1px dotted $border-color-light; // #ddd;
    margin-bottom: $padding-base; //10px;
    padding-bottom: $padding-base; //10px;
  }
  p:last-child,
  ul > li:last-child {
    margin-bottom: 0;
  }
	.widget {
      background-color: $white; // #fff;
      margin-bottom: $padding-large-vertical; // 40px;
      padding: $padding-large-vertical; // 40px;
	}
	.widget-title,
	.widgettitle {
      font-size: $font-size-h5; // 18px;
      margin-bottom: $padding-base; // 20px;
        a {
          color: $gray-dark; // #333;
        }
	}
}
