html,
body {
	// min-width: $siteWidth; // Prevents backgrounds on these elements from being truncated on smaller screens on fixed-width sites
}

body {
	// text-rendering: optimizeLegibility; // Use with caution. May break certain @font-face fonts.
  // Genesis declarations from ## Typographical Elements section
  background-color: $body-bg; // #f5f5f5;
  color: $text-color; // #333;
  font-family: $font-family-base; // Lato, sans-serif;
  font-size: $font-size-base; // 18px;
  font-weight: $font-weight-base; // 300;
  line-height: $line-height-base; //1.625;
  margin: 0;
}

a,
button,
input:focus,
input[type='button'],
input[type='reset'],
input[type='submit'],
textarea:focus,
.button {
	transition: all .1s ease-in-out;
}

::selection {
	// text-shadow: none;
  background-color: $gray-dark; //#333;
  color: $white;
}

a {
    color:$link-color; //#e5554e;
    text-decoration:none;
	&:hover,
	&:focus,
	&:active {
      color:$link-hover-color; // #333
      text-decoration: $link-hover-decoration;
	}
}

ol,
ul {
	@extend %unstyled-list;
}

p {
	margin: 0; // 0 0 28px;
	padding: 0;
}

// added <b> per genesis child sample
b,
strong {
	font-weight: $font-weight-bold;
}

// added per genesis child sample
em,
i,
cite {
  font-style:italic;
}
pre {
	overflow: scroll;
	white-space: pre;
}

code {
	overflow: hidden;
	word-break: break-word;
}

iframe {
	border: none;
}
