/*********************
SIZES
*********************/
// Useful for fixed width sites, as well as for limiting the max-width of fluid sites
$siteWidth:		85em; // 60em;
// 60em @16px = 960; at 14px = 840
//86 em @14px = ~1200

// Sass @ content directives:
// @link http://mikefowler.me/2011/12/08/passing-content-to-mixins-in-sass/
// @link http://robots.thoughtbot.com/sasss-content-directive
// @link https://css-tricks.com/media-queries-sass-3-2-and-codekit/

// Media Query breakpoints

// for use as stand-alones as needed
$mq-s-tab: 25em; // 400 @ 16px
$mq-l-tab: 45em; // 720 @ 16px
$mq-desk: 58em; // 928 @ 16px
$mq-desk-plus: 80em; //1280 @16px

/*
Uses SASS's native @content directive:
@include breakpoint(s-tab) { styles for that breakpoint only go here }

Don't confuse this with the Breakpoint-SASS extension, https://github.com/at-import/breakpoint/wiki
If wanted to use, would need to install (as Ruby gem or through bower) then add "require 'breakpoint' to config.rb and @import "breakpoint"; to top of Sass file(s)

See also: http://include-media.com/

For a rundown of options see: http://www.sitepoint.com/managing-responsive-breakpoints-sass/
*/

@mixin breakpoint($point) {
  @if $point == s-tab {
    @media (min-width: 25em) { @content; }
  }
  @else if $point == l-tab {
    @media (min-width: 45em) { @content; }
  }
  @else if $point == desk {
    @media (min-width: 58em) { @content; }
  }
  @else if $point == desk-plus {
    @media (min-width: 80em) { @content; }
  }
  @else if $point == portrait {
    @media (orientation: portrait) { @content; }
  }
  @else if $point == landscape {
    @media (orientation: landscape) { @content; }
  }
  // http://mir.aculo.us/2012/11/28/the-ultimate-target-retina-screens-media-query/
  @else if $point == retina {
      @media
          (min--moz-device-pixel-ratio: 1.5),
          (-o-min-device-pixel-ratio: 3/2),
          (-webkit-min-device-pixel-ratio: 1.5),
          (min-device-pixel-ratio: 1.5),
          (min-resolution: 144dpi),
          (min-resolution: 1.5dppx)
      {
          @content;
      }
  }
}

// TT - Added many variables, mainly adapted from Bootstrap
// in general, named [property]-[state]-[variation], e.g.  $link-hover-color

/*********************
COLORS
*********************/
// see also bower components/colors/sass/variables for re-defined basic color names
// ADD SITE BRAND COLORS FIRST

$brand-primary:         darken(#428bca, 6.5%) !default; // #337ab7
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;


// Taken from ReardonRETeam, where began naming colors differently, and also referenced by these names in style tile page

// https://color.adobe.com/orange-and-lime-color-theme-153501/

$color-mid: #FA8C01;
$color-mid: darken(#FA8C01, 3%);
// Header bkgd; submenu bkgd; buttons; widget title link

$color-mid2: #FF6405;
$color-mid2: darken(#FF6405,5%);
// home-welcome title;

$color-bright: #A0A600;
// headers/titles on hover; menu on hover; search bar background; featured page title accents

$color-dark: #577700;
//headers/titles; nav bkgd; buttons on hover; borders on submenu items;

$color-dark2: #577700;
// featured page bkgd

$site-title-color: $white;
$site-header-bg: $color-mid;
$menu-item-txt: $white; // $color-dark;
$menu-item-bg: $color-mid2;
$footer-bg:$color-mid2;
$footer-widget-bg: $footer-bg;
$footer-titles: $color-bright;
$home-welcome-text:$color-mid2;
$feature-page-bg:$color-dark;
$feature-area-bg: $white;


//## Gray and brand colors for use across Bootstrap.
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray1:                  #666;
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-light1:            #888;
$gray-lighter:           #999; // lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest1:         #ddd;
$gray-lightest:          lighten($gray-base, 93.5%) !default; // #eee

$white:                 #fff; // TT added - for diagnostics, or in case ever want a slightly off-white white
$black:                 #000; // ditto

/*********************
SOCIAL COLORS - http://designpieces.com/2012/12/social-media-colours-hex-and-rgb/
*********************/
$twitter:			#00aced;
$facebook: 			#3b5998;
$linkedin:			#007bb6;
$google:			#dd4b39;
$youtube:			#bb0000;
$pinterest: 		#cb2027;
$tumblr:			#32506d;
$flickr:			#ff0084;
$instagram:			#517fa4;
$vimeo:				#aad450;
$foursquare: 		#0072b1;
$rss:				#ff6600;

/*********************
Scaffolding
*********************/

//** Background color for `<body>`.
$body-bg:               #fff !default;

//** Global text color on `<body>`.
$text-color:            $gray-dark !default; // #333

//** Global textual link color.
$link-color:            $brand-primary !default;

//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//** Link hover decoration.
$link-hover-decoration: underline !default;


/*********************
Typography
*********************/

$font-family-sans-serif:  Lato, "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$font-family-serif:       Georgia, "Times New Roman", Times, serif !default;

//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace !default;

$font-family-base:        $font-family-sans-serif !default;

//$font-weight-base: 300; // added by TT per Genesis child style, which uses Lato
//$font-weight-bold: 700; // added by TT per Genesis child style, which uses Lato
$font-weight-base: normal;
$font-weight-bold: bold;

$font-size-base:          16px !default; // 14px !default;
$font-size-large:         ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-small:         ceil(($font-size-base * 0.85)) !default; // ~12px

$font-size-h1:            floor(($font-size-base * 2.6)) !default; // ~36px
$font-size-h2:            floor(($font-size-base * 2.15)) !default; // ~30px
$font-size-h3:            ceil(($font-size-base * 1.7)) !default; // ~24px
$font-size-h4:            ceil(($font-size-base * 1.25)) !default; // ~18px
$font-size-h5:            $font-size-base !default;
$font-size-h6:            ceil(($font-size-base * 0.85)) !default; // ~12px

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429 !default; // 20/14
$line-height-base:        1.5   // 24/16

//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)) !default; // ~20px

// add font-size variations for breakpoints
// @link http://typecast.com/blog/a-more-modern-scale-for-web-typography
//$font-size-print-base:
//$font-size-mq-desk-base:
//$font-size-mq-l-tab-base:
//$font-size-mq-s-tab-base:

//$line-height-print-base:
//$line-height-print-computed:

//moved this from below, where it came after padding
// aren't these reversed??? Or do they refer to the size of text that uses them?
$line-height-large:         1.33 !default;
$line-height-small:         1.5 !default;

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit !default;
$headings-font-weight:    $font-weight-bold; // 500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          $link-color; // inherit !default;
$headings-hover-color:    $link-hover-color; // Added by TT

// TT Additions
$blockquote-style: italic;
$blockquote-margin: 2em;

$border-color-light:        $gray-lightest1; //#ddd;
$border-color-dark:         $gray-dark;
$border-color-medium:       $gray1;

//== Images // added by TT (moved from top of _objects-and-images)

$imageMargin:               1.5em;

//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).
$padding-base:              1em;
$padding-base-vertical:     $padding-base; //.5em; // 6px !default;
$padding-base-horizontal:   $padding-base; // 12px !default;

$padding-large-vertical:    $line-height-computed; // 10px !default;
$padding-large-horizontal:  $padding-base; // 16px !default;

$padding-small-vertical:    .5em; // 5px !default;
$padding-small-horizontal:  .5em; // 10px !default;

$padding-xs-vertical:       1px !default;
$padding-xs-horizontal:     5px !default;

$border-radius-base:        4px !default;
$border-radius-large:       6px !default;
$border-radius-small:       3px !default;

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding:            8px !default;

//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding:  5px !default;

//** Default background color used for all tables.
$table-bg:                      transparent !default;

//** Background color used for `.table-striped`.
$table-bg-accent:               #f9f9f9 !default;

//** Background color used for `.table-hover`.
$table-bg-hover:                #f5f5f5 !default;
$table-bg-active:               $table-bg-hover !default;

//** Border color for table and cell borders.
$table-border-color:            $border-color-light; // #ddd !default;
