// Compass & Variables
@import 'compass/css3';

// Colors
@import '../bower_components/Colors/sass/variables';

// Variables
// TT renamed: as "variables," phpStorm won't color code it for some reason
@import 'vars';

// Normalize, Clearfix, & Toolkit
@import '../bower_components/normalize-scss/normalize.scss';
@import 'clearfix';
@import 'toolkit';

// Universal Box-Sizing (http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/)
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

// Sitewide Styles
@import 'grid';
@import 'layout';
@import 'type';
@import 'headings';
@import 'objects-and-images';
@import 'buttons';
@import 'forms';

// Module Styles
@import 'header';
@import 'navigation';
@import 'content';
@import 'comments';
@import 'sidebars';
@import 'footer';

// TT
@import 'styletile';

// Templates

// Print
@import 'print';

// IE Compatibility
@import 'ie';

// Shame - For new style snippets that haven't been sorted and commented yet
@import 'shame';

//@import 'diagnostics';